doctype html
html(lang="en")
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(charset='UTF-8')
        title Webpack
    body
        .bg-blue-300.w-64.h-64.mx-auto
            .bg-red-600.w-32.h-16.mx-auto.self-auto
                .text-white.text-6xl Hello from ass!
